.filter-container {
  width: 200px;
  height: 48px;
  font-size: 12px;
  border-radius: 0.4rem;
  background-color: $card-color;
  box-shadow: $box-shadow;
  &:hover {
    cursor: pointer;
  }
  .filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.6rem;
    strong {
      text-transform: capitalize;
    }
  }
  .filter-list {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0.4rem;
    padding: 1rem 0.6rem;
    border-radius: 0.4rem;
    background-color: $card-color;
    box-shadow: $box-shadow;
    z-index: 2;
    button {
      text-align: left;
      margin: 0.2rem;
      width: 80%;
      border: none;
      color: $text-color;
      background-color: $card-color;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
