@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

$mobile: 375px;
$desktop: 1440px;

$primary: hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);
$lightgrey: hsl(217, 12%, 63%);
$mediumgrey:#262d37;
$darkblue: #1e252f;
$verydarkblue: #141519;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: $verydarkblue;
}