.footer-container {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 4px;
  justify-content: center;
  padding: .3rem 1rem;
  border-radius: .3rem;
  background-color: $secondary-bg-color;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 29px 0px;
  button {
    min-height: 40px;
    padding: 0rem .6rem;
    border: none;
    font-weight: 700;
    background-color: $secondary-bg-color;
    color: $secondary-text-color;
    &:hover {
      cursor: pointer;
    }
  }
}

.footer-text {
  font-size: 14px;
  margin-top: 2rem;
  text-align: center;
  color: $secondary-text-color;
}