@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

$mobile: 375px;
$desktop: 1440px;

$home-page-font-size: 14px;
$detail-page-font-size: 16px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.light {
  --background-color: hsl(0, 0%, 98%);
  --card-color: white;
  --text-color: hsl(200, 15%, 8%);
  --input-color: white;
}

.dark {
  --background-color: hsl(207, 26%, 17%);
  --card-color: hsl(209, 23%, 22%);
  --text-color: hsl(0, 0%, 98%);
  --input-color: hsl(209, 23%, 22%);
}

$background-color: var(--background-color);
$card-color: var(--card-color);
$text-color: var(--text-color);
$input-color: var(--input-color);

$box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 8px;

a {
  text-decoration: none;
  color: $text-color;
  &:visited {
    text-decoration: none;
    color: $text-color;
  }
  &:focus {
    text-decoration: none;
    color: $text-color;
  }
  &:active {
    text-decoration: none;
    color: $text-color;
  }
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $background-color;
  color: $text-color;
}

.country-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 8rem 3rem 0rem 3rem;
  .country-filtering {
    min-width: 100%;
    display: flex;
    flex-direction: column;
  }
  .countries {
    display: flex;
    gap: 6rem;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 425px) {
  .country-container {
    flex-direction: row !important;
    flex-wrap: wrap;
    gap: 4rem !important;
  }
}

@media screen and (min-width: $mobile) and (max-width: 1023px) {
  .filter-container {
    margin: 2rem 0rem 0rem 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .country {
    margin-left: 3rem !important;
    .country-data {
      display: flex;
      align-items: center;
      margin-top: 4rem;
      margin-right: 3rem;
      .country-side-panel {
        margin-left: 8rem;
        .country-side-panel-data {
          display: flex;
          gap: 8rem;
          .country-data {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
          }
        }
      }
      img {
        max-width: 560px !important;
        max-height: 400px !important;
      }
    }
  }
  .navbar {
    padding: 0rem 3rem !important;
    h5 {
      font-size: 1.6rem;
    }
  }
  .search-bar {
    display: flex;
    justify-content: space-between;
    margin: 1rem 3rem 1rem 2rem;
  }
  .country-container {
    flex-direction: row !important;
    flex-wrap: wrap;
    gap: 4rem !important;
    .country-filtering {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .input-container {
        margin-left: -18px;
      }
    }
  }
  .input-container {
    input {
      width: 480px !important;
    }
  }
}

@media screen and (min-width: 1920px) {
  .countries {
    gap: 4.35rem !important;
  }
}
